html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #555;
    font-size: .9em;
}


.wrapper{ position: relative; }
.mainContent{ margin-bottom: 15px; }
#footer{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: .9em;
    padding: 2px 0;
    text-align: center;
}

.inline { display: inline-block !important; vertical-align: top; }
.wide { width: 100%; }
[flex][centered] { text-align: center; }

.tab {
    display: none;
    padding: 10px;
}
.tab.show { display: block; }

input, button{
    margin: 5px;
    background-color: white;
    border: 1px solid #aaa;
    padding: 3px 4px;
    font-size: 1.2em;
    font-family: inherit;
    cursor: pointer;
}

.titleIcon { 
    position: relative;
    width: 1em;
    height: 1em;
    top: 1px;
    margin: 0;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/** color picker CSS **/
#picker { width: 200px !important; height: 200px !important; }
#slide { width: 20px !important; height: 200px !important; }
/*** end color picker CSS ***/

input#hex { margin: 15px 0 5px; width: 12em; cursor: inherit; }
button#set, button#random { margin: 0; width: 6.2em;}

cjs-sliders-rgb,
cjs-sliders-hsl,
cjs-sliders-hsv {
    width: 100%;
    max-width: 33em;
    margin: 0 auto;
}

cjs-sliders-rgb::shadow paper-slider::shadow #sliderKnobInner,
cjs-sliders-hsl::shadow paper-slider::shadow #sliderKnobInner,
cjs-sliders-hsv::shadow paper-slider::shadow #sliderKnobInner {
    cursor: pointer; 
}


/** style colors and results **/
[tool] { font-size: 1.2em; }
[tool], cjs-core-scaffold /deep/ paper-tabs {
    text-shadow: 0 0 10px rgba(0,0,0,1), 0 0 10px rgba(0,0,0,.5);
}

.colorInfo {
    font-weight: bold;
	position: relative;
	text-transform: uppercase;
}
#heroColor .colorInfo { font-size: 1.5em; }
.swatch .colorInfo { 
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    background: white;
    text-align: center;
    border-radius: 0 0 2px 2px;
}

#results {
	text-align: center;
	margin: 0 0 20px;
}

.swatch {
	position: relative;
    display: inline-block;
    vertical-align: top;
	margin: 8px;
    width: 160px;
	height: 160px;
	border-radius: 2px;
    
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.36), 0 2px 15px 0 rgba(0, 0, 0, 0.06);
}

.label {
	text-transform: capitalize;
	font-variant: small-caps;
	font-style: italic;
	font-size: 1.2em;
	margin: 8px 0 10px;
}
/*** end style colors and results ***/

#controls { 
    margin: 10px 0 20px;
    text-align: center !important;
}

@media all and (max-width: 900px) {
	.ribbon, #note { display: none; }
}

/** media query used by Polymer **/
@media all and (max-width: 600px) {

}
