:host{
    display: block;
    width: 300px;
}

span.label{
    font-weight: bold;
    width: 1em;
}

paper-slider::shadow #sliderKnobInner,
paper-slider::shadow #sliderKnobInner::before,
paper-slider::shadow #sliderBar::shadow #activeProgress,
paper-slider::shadow #sliderBar::shadow #secondaryProgress{
    background-color: {{color}};
}